# Entorno virtual
.venv/

# Data completa excluida
data/

# Configuración local
.env

# Archivos temporales y de caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema
.DS_Store

# Logs
logs/
.env
